 <nav>
      <ul class="nav">
        <li <% if (title == "Main page"){ %> class="active" <% } %> ><a href="/">Home</a></li>
        <li <% if (title == "Teachers page"){ %> class="active" <% } %>><a href="/teachers">Teachers</a></li>
        <li <% if (title == "Students page"){ %> class="active" <% } %>><a href="/students">Students</a></li>
        <li <% if (title == "Groups page"){ %> class="active" <% } %>><a href="/groups">Groups</a></li>
        <li <% if (title == "About page"){ %> class="active" <% } %>><a href="/about">About</a></li>
        <li <% if (title == "Comments page"){ %> class="active" <% } %>><a href="/comments">Comments</a></li>

      </ul>
    </nav>