 nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
      }

      nav ul li {
        float: left;
      }

      nav ul li a {
        display: inline-block;
        color: bisque;
        text-align: center;
        padding: 15px 10px;
        text-decoration: none;
      }

      nav li a:hover {
        background-color: rgb(59, 99, 99);
      }

      .active {
        background-color: darkslategray;
      }